@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	overflow-x: hidden;
	color: #000000;
	font-family: "Roboto", sans-serif;
}

header {
	display: flex;
	background-color: transparent;
	z-index: 2;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

#header-img {
	max-width: 17%;
}

nav {
	position: absolute;
	top: 25%;
	left: 10%;
	right: 0;
}

ul,
nav {
	display: none;
	list-style: none;
	margin: 0;
}

nav,
li {
	margin: 0;
}

header a {
	font-size: 1rem;
	margin: 0px 12px 0 0;
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}

header a:hover {
	text-decoration: underline;
}

.main {
	display: flex;
	height: 100vh;
	position: relative;
}

.main:after {
	content: "";
	opacity: 0.9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.small-text {
	font-family: Montserrat, sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

button {
	background-color: #d73851;
	border-radius: 10px;
	height: 30px;
	width: 85px;
	text-align: center;
	border: none;
	position: absolute;
	margin: 0;
	left: 50%;
	transform: translate(-50%, 0);
	color: #ffffff;
}

.big-text {
	display: none;
	font-family: Montserrat, sans-serif;
	position: absolute;
	top: 35%;
}

h1 {
	font-size: 3rem;
	text-align: center;
	margin-bottom: auto;
}

.big-text h2 {
	font-size: 1.5rem;
	text-align: center;
	margin: auto;
}

#learn {
	background-color: #ffffff;
	display: inline-block;
	color: black;
	margin: 0 auto;
	width: 100vw;
	padding: 20px 40px;
}

.heading-01 {
	margin: auto;
	padding-bottom: 10px;
}

.cards {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.property-card {
	height: 45vh;
	width: 16em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	-webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	margin: 2%;
}

.property-image {
	height: 6em;
	width: 14em;
	padding: 1em 0;
	right: 0;
	position: absolute;
	top: 0px;
	-webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.image-01 {
	background-image: url(https://www.nintendo.com/content/dam/noa/en_US/images/switch/system/mode-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.image-02 {
	background-image: url(https://www.nintendo.com/content/dam/noa/en_US/images/switch/system/mode-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
}

.image-03 {
	background-image: url(https://www.nintendo.com/content/dam/noa/en_US/images/switch/system/system-photo-04.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.property-description {
	background-color: #ffffff;
	height: 9em;
	width: 16em;
	position: absolute;
	bottom: 0em;
	-webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	padding: 0.5em 1em;
	text-align: center;
}

h3 {
	margin: 0;
}

.property-social-icons {
	width: 1em;
	height: 1em;
	position: absolute;
	bottom: 1em;
	left: 1em;
	-webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.property-card:hover .property-description {
	height: 0em;
	padding: 0px 1em;
}
.property-card:hover .property-image {
	height: 18em;
}

.property-card:hover .property-social-icons:hover {
	background-color: blue;
	cursor: pointer;
}

#trailer {
	padding: 20px 40px;
}

.heading-02 {
	display: inline-block;
	margin: auto;
	padding-bottom: 20px;
}

#video {
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
}

form {
	text-align: center;
}

fieldset {
	border: none;
	margin-top: 10px;
	padding: 0;
}

legend {
	font-weight: 700;
	font-size: 1.3rem;
}

input {
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	height: 40px;
}

#submit {
	background-color: #d73851;
	border: none;
	color: #ffffff;
	font-size: larger;
	margin-top: 5px;
	width: 70%;
	height: 43px;
	padding-bottom: 4px;
	border-radius: 5px;
}

@media screen and (min-width: 768px) {
	header {
		justify-content: space-between;
	}

	#header-img {
		max-width: 8%;
		padding-top: 15px;
	}

	header a {
		font-size: 1.1rem;
		margin: 0 50px;
	}

	nav {
	}

	ul {
		padding-top: 20px;
	}

	ul,
	nav {
		display: flex;
	}

	.main {
		background-image: url(Background.jpg);
		background-repeat: no-repeat;
		background-position: right center;
		background-size: 50%;
		background-color: #ffffff;
		position: relative;
	}

	.small-text {
		display: none;
	}

	.big-text {
		display: block;
		font-size: x-large;
		width: 47%;
		position: absolute;
    top: 50%;
    transform: translate(0, -50%);

	}

	.heading-01 {
		bottom: 11%;
	}

	.heading-01:before, .heading-02:before {
	content: ""; 
 	display: inline-block; 
 	margin-left: -1em;
    margin-right: 15px;
    width: 20px;
    height: 50px;
    background: #d73851;
    border-radius: 30px;
    position: absolute;
}

	.cards {
		flex-direction: unset;
		justify-content: center;
	}

	#trailer {
		background-image: url(logo.png), url(base.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 25%, 80%;
		display: inline-block;
		background-color: #ffffff;
		width: 100vw;
		height: 100vh;
	}

	#video {
		display: none;
	}

	form {
		display: flex;
		height: 85vh;
		align-items: flex-end;
		justify-content: center;
	}

	input {
		width: 300px;
	}

	#submit {
		width: 200px;
	}
}

@media screen and (min-width: 1023px) {
	header a {
		font-size: 1.5rem;
	}

	h1 {
		font-size: 3.3rem;
	}

	#learn {
		padding: 20px 70px;
	}
	.cards {
		padding-left: 4%;
		text-align: center;
		align-items: baseline;
	}

	.property-image {
		height: 8em;
	}

	.property-description {
		height: 11em;
	}

	.text {
		font-size: 1.3rem;
		padding: 0 6%;
	}

	p {
		font-size: 1.1rem;
	}

	#trailer {
		padding: 20px 70px;
	}

	.heading-01,
	.heading-02 {
		font-size: 36px;
	}
}
